<form class="form" name="reviewForm" 
ng-submit="reviewForm.$valid && onSubmit(review)" novalidate>
	<blockquote>
		<p>Ratings: <span class="glyphicon">
		&#xe006;</span>{{review.stars}}</p>
		<p>Author: {{review.author}}</p>
		<p>Comment: {{review.body}}</p>
	</blockquote>
	<hr/>
	<!-- ========== Stars ========== -->
	<div class="form-group" ng-class="{'has-error': reviewForm.$submitted && 
	reviewForm.stars.$dirty &&reviewForm.stars.$error.required}">
		<label class="control-label">Ratings:</label>
		<select ng-model="review.stars" name="stars" class="form-control"
		 required>
			<option ng-repeat="itr in [1,2,3,4,5] track by $index" value="{{itr}}">
				{{itr}}
			</option>
		</select>
			<span class="help-inline control-label" ng-show="reviewForm.$submitted && 
				reviewForm.stars.$dirty &&reviewForm.stars.$error.required">
					Ratings are required.
			</span>
	</div>
	<!-- ========== Author ========== -->
	<div class="form-group" ng-class="{'has-error': reviewForm.$submitted && 
	reviewForm.author.$dirty &&reviewForm.author.$error.required}">
		<label class="control-label">Author:</label>
		<input type="text" placeholder="Author name" name="author" 
		class="form-control" ng-model="review.author" required/>
			<span class="help-inline control-label" ng-show="reviewForm.$submitted && 
				reviewForm.author.$dirty &&reviewForm.author.$error.required">
				Author name is required.
			</span>
	</div>
	<!-- ========== Comment ========== -->
	<div class="form-group" ng-class="{'has-error': reviewForm.$submitted && 
	reviewForm.body.$dirty &&reviewForm.body.$invalid}">
		<label class="control-label">Comments:</label>
		<textarea placeholder="Comments" name="body"
		class="form-control" ng-model="review.body" required
		ng-minlength="5" ng-maxlength="200"/>
			<span class="help-inline control-label" ng-show="reviewForm.$submitted && 
				reviewForm.body.$dirty &&reviewForm.body.$invalid">
				We can accept comment with minimun 5 and maximum 200 words.	
			</span>	
	</div>
	<!-- ========== Buttons ========== -->
	<div class="form-group">
		<button type="submit" class="btn btn-default">Submit</button>
		<button type="reset" class="btn btn-default">Reset</button>	
	</div>

</form>